# Java compiled class files
*.class

# IntelliJ / VSCode / Eclipse төсөл
.idea/
.vscode/
*.iml

# OS-н системийн файлууд
.DS_Store
Thumbs.db

# c compiled files
*.o
*.exe

# Maven / Gradle build artifacts
target/
build/

# Log files
*.log

# Temporary files
*.tmp
*.swp
